<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<!-- Values here control CSListener only. -->
		<add key="IpAddress" value="129.168.33.2"/>
		<add key="IpMode" value="wifi"/>
		<!-- IP MODE USAGE
				wifi:	Auto-detect wifi
				manual: use IpAddress value
				
					NOTE: if "use local connection" selected
					CSListener Ip will default to "127.0.0.1"
		-->
	</appSettings>
</configuration>