<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="GameFilesDirectory" value="..\..\GameFiles"/>
		<add key="IpAddress" value="192.168.86.40"/>
		<add key="Port" value="13000"/>
		<add key="IpMode" value="wifi"/>
		<!--	IpMode Usage
				wifi:	automatically detect wifi IP address 
				home:	default to 127.0.0.1
				manual: use the ip specified in "IpAddress"
				-->
	</appSettings>
</configuration>